@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');




.service-container{
    font-family: Roboto Slab, monospace;
    margin-top: 30px;
    margin-bottom: 30px;
}

.service-container h1{
    text-align: center;
    margin-top: 20px;
}

.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.service-card{
    border: 2px solid black;
    box-shadow: 6px 6px black;
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
}

.service-card h4{
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}

.service-card p{
    text-align: center;
}


@media only screen and (max-width: 800px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .service-card{
        width: 50%;
    }
}

@media only screen and (max-width: 500px){
    .service-card{
        height: 100%;
    }
}