@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



.testimonial-section{
    margin: 30px auto;
}
.carousel-card{
    font-family: Roboto Slab;
}




.carousel-card img{
    width: 50%;
}